Conditional Statements and Loops

In [3]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [11]:
for x in range(20):
    if x % 2 == 0:
        print (f"x = {x}, even", end = " ")
    else:
        print(f"x = {x}, odd", end = " ")

x = 0, even x = 1, odd x = 2, even x = 3, odd x = 4, even x = 5, odd x = 6, even x = 7, odd x = 8, even x = 9, odd x = 10, even x = 11, odd x = 12, even x = 13, odd x = 14, even x = 15, odd x = 16, even x = 17, odd x = 18, even x = 19, odd

In [18]:
for x in range(20):
    if x % 2 == 0:
        print (f"x = {x}, even", end = " ")
    else:
        print(f"x = {x}, odd")

x = 0, even x = 1, odd
x = 2, even x = 3, odd
x = 4, even x = 5, odd
x = 6, even x = 7, odd
x = 8, even x = 9, odd
x = 10, even x = 11, odd
x = 12, even x = 13, odd
x = 14, even x = 15, odd
x = 16, even x = 17, odd
x = 18, even x = 19, odd

In [19]:
x = [45,12,-96]

In [20]:
for item in x:
    print (item)

45
12
-96

In [24]:
for item in range(len(x)):
    print (x[item])

45
12
-96

Conditional Statements and Loops - Exercise #1


Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [27]:
for var in range(1,11):
    var *= 2
    print(var, end = " ")

2 4 6 8 10 12 14 16 18 20

Conditional Statements and Loops - Exercise #2


Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, it should print "Even". Help yourself with the range() function to solve this exercise.

In [33]:
for val in range(1,31):
    if val % 2 == 0:
        print("Even", end = " ")
    else:
        print(val, end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

Conditional Statements and Loops - Exercise #3


You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [38]:
n = [1,2,3,4,5,6]

for num in n:
    print(num * 10, end = " ")

10 20 30 40 50 60

In [39]:
for item in range(len(n)):
    print (n[item] * 10, end = " ")

10 20 30 40 50 60

conditional loops for functions

In [42]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [43]:
list_1 = [5,27,15,13,35,7758,78,-79]
count(list_1)

4

In [44]:
list_1 = [27,15,35,7758,78,-79]
count(list_1)

2

In [45]:
nums = [1,35,12,24,31,51,70,100]

how to iterate over dictionaries

In [46]:
prices = {"spaghetti" : 40, "lasagna" : 50, "hamburger" : 250}
quantity = {"spaghetti" : 2, "lasagna" : 7, "hamburger" : 3}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
print(money_spent)

1180

In [47]:
(40 * 2) + (50 * 7) + (250 * 3)

1180

How to Iterate over Dictionaries - Exercise #1


In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity. This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [ ]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0