**1. Defining a function in python**

def function_name (parameters):

    function body

In [1]:
def simple():
    print ("My first function")

In [3]:
simple()

My first function

In [5]:
def plus_ten(a):
    return a + 10

In [6]:
plus_ten(15)

25

In [7]:
plus_ten(-105)

-95

How to Create a Function with a Parameter - Exercise #1

Define a function called multiplication_by_2(x) that returns a value equal to its argument multiplied by 2.

In [8]:
def multipliction_by_2(x):
    return x * 2

In [9]:
 multipliction_by_2(3.5)

7.0

**Exercise 2**

How to Create a Function with a Parameter - Exercise #2


Define a function called division_by_2(x) that returns a float value equal to its argument divided by 2

In [11]:
def division_by_2(x):
    return float(x) / 2

In [12]:
division_by_2(65)

32.5

In [13]:
def division_by_2(x):
    return (x) / 2.0

In [15]:
division_by_2(78)

39.0

**2. Defining a function part 2**

In [20]:
def plus_ten(a):
    result = a + 15
    print("Outcome")
    return result

In [21]:
plus_ten(45)

Outcome

60

**2. Exercise 1**

Defining a Function in Python - Exercise #1

Define a function called exponentiation_exp_2(x) that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called result, in the body of the Function. Call the function with some argument to verify it works properly.

In [29]:
def exponentiation_exp_2(x):
    result = x ** 2
    print(x, "Raised to the power of 2:")
    return result

In [30]:
exponentiation_exp_2(45.7)

45.7 Raised to the power of 2:

2088.4900000000002

**3. How to use a function in another function**

In [31]:
#function - wage - calculates your daily wage 
#assuming u are paid $25/hr
#with a parameter - w_hours
#returns w_hours multiplied by 25

def wage(w_hours):
    return w_hours * 25
# 2. function - with_bonus()
#where you have a bonus of $50

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [34]:
wage(8), with_bonus(7)

(200, 225)

In [35]:
7 * 25

175

In [36]:
175+50

225

Hence
- the first function: wage()
- the second function: with_bonus()

**Exercise**

- How to Use a Function within a Function - Exercise #
    - Define a function called ***plus_five()*** that adds 5 to its argument. 
    - Then, define another function named ***m_by_3()*** that multiplies the argument (the result obtained from plus_five()) by 3. 
    - Verify your code was correct by calling the second function with an argument of 5. 
   
    - **Was your output equal to 30?**

In [42]:
def plus_five(x):
    return x + 5

def m_by_3(x):
    return plus_five(x) * 3

m_by_3(5)

30

**4. Combining Conditional Statements and Functions**

 - **if johnny has saved at least $100 by the end of the week he gets a bonus of **+$50** .**
 - if not **$0**

In [63]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m, "Good job!"
    else:
        return "Save more!", 100 - m

In [66]:
add_10(70)

('Save more!', 30)

In [65]:
add_10(120)

(130, 'Good job!')

**Exercise**

- Conditional Statements and Functions - Exercise #1

    - Define a function, called **compare_the_two()**, with **two arguments.** 
    - If the **first one is greater than the second one**, 
    - let it **print "Greater"**. 
    - If the **second one is greater, it should print "Less".**
    - Let it **print "Equal" if the two values are the same number.**

In [72]:
def compare_the_two(x,y):
    if x > y:
        return "Greater"
    elif y > x:
        return "Less"
    else:
        return "Equal"

In [73]:
compare_the_two(8,8)

'Equal'

In [74]:
compare_the_two(8,5)

'Greater'

In [75]:
compare_the_two(-2.5,6)

'Less'

**5. Creating functions containing a few arguements**

**syntax**

def function_name (parameter #1, parameter#2, ...):
    
    function body

In [76]:
def subtract_bc(a, b, c):
    result = a - b * c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [77]:
subtract_bc(15, 10, 3)

Parameter a equals 15
Parameter b equals 10
Parameter c equals 3

-15

**6. Built-in functions**