**Definition - list is a type of sequence of data points**

**1. creating a list**

In [2]:
participants = ['John', 'Leila', 'Gregory', 'Cate']

In [3]:
participants

['John', 'Leila', 'Gregory', 'Cate']

**2. calling a specific string in a list**

In [4]:
participants[0]

'John'

In [17]:
print(participants[0])

John

In [5]:
participants[3]

'Cate'

**3. calling a specific string in a list in reverse**

In [6]:
participants[-1]

'Cate'

In [7]:
participants[-2]

'Gregory'

**4. changing a specific string**

In [8]:
participants[1] = 'Andrew'

In [10]:
participants

['John', 'Andrew', 'Gregory', 'Cate']

**5. deleting an element**

In [13]:
del participants[2]

In [14]:
participants

['John', 'Andrew', 'Cate']

**Exercise 1**

Create a list, called Numbers. Let it contain the numbers 10, 25, 40, and 50.

Print the element at index 2 from the list.

In [18]:
Numbers = [10, 25, 40, 50]
Numbers[2]

40

**Exercise 2**

Print the 0th element from the Numbers list.

In [19]:
Numbers[0]

10

**Exercises 3**

Print the third-to-last element from the Numbers list using a minus sign in the brackets.

In [20]:
Numbers = [10, 25, 40, 50]
Numbers[-3]

25

**Exercise 4**

Replace the number 10 with the number 15 in the Numbers list.

In [22]:
Numbers = [10, 25, 40, 50]
Numbers[0] = 15

Numbers

[15, 25, 40, 50]

**Exercise 5**

Delete the number 25 from the Numbers list.

In [24]:
Numbers = [10, 25, 40, 50]
del Numbers[1] 

Numbers

[10, 40, 50]

**Exercise 6**

Append the number 100 to the Numbers list.

In [26]:
Numbers = [15, 40, 50]
Numbers.append(100)

Numbers

[15, 40, 50, 100]

**Exercise 7**

With the help of the .extend() method, add the numbers 115 an 140 to the Numbers list.

In [37]:
Numbers = [15, 40, 50, 100]
o_Numbers = [115, 140]
Numbers.extend(o_Numbers)

Numbers

[15, 40, 50, 100, 115, 140]

In [42]:
print(Numbers[0])

15

**Exercise 8**

Print a statement, saying "The fourth element of the Numbers list is" followed by the value of the fourth element of the Numbers list. Ensure you use a trailing comma to concatenate the statement with the value.

In [43]:
Numbers = [15, 40, 50, 100, 115, 140]

print(f"The fourth element of the Numbers list is", Numbers[3])

The fourth element of the Numbers list is 100

**Exercise 9**

Currently, how many elements are there in the Numbers list?

In [48]:
Numbers = [15, 40, 50, 100, 115, 140]
len(Numbers)

6

Which is the syntax for invoking a method in Python?

Name of the object, dot operator, name of the method, parantheses